<% if current_user %>
	<% if @archive.available %>
		<%= link_to 'Download Zip Archive', @archive.public_url %>
	<% elsif @archive.enqueue %>
		<p>Archive Zip creating. Please wait a few minutes.</p>
	<% else %>
		<%= button_to 'Create Zip Archive', :welcome_archive, :method => :post %>
	<% end %>
<% end %>
