<div id="user_nav">
	<% if current_user %>
		<%= image_tag(current_user.image) %>Welcome, <%= link_to current_user.nickname, current_user.url, target: '_blank' %>! <%= link_to 'Sign out', signout_path %>
	<% else %>
		<%= link_to 'Sign in with Picplz', '/auth/picplz' %>
	<% end %>
</div>
